# Simple statistics calculations

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/al_grid.csv")
df

,X,Y,Total,Not Hispanic or Latino,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,...,gridcode,pop,ilcr,ilcr_2014,ilcr_2015,ilcr_2016,ilcr_2017,ilcr_2018,cluster_id,centerpoint
0,1035,1482,411.912900,405.766233,21.020359,376.270580,2.460665,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1035,1481,1143.021901,1114.305927,53.729173,1046.875416,0.536457,0.000000,0.0,1.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1036,1482,723.120458,705.572521,20.577286,679.527128,1.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,1036,1483,495.929274,495.279686,3.317756,486.365985,1.152975,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,937,1084,580.401346,567.534888,308.349776,249.358991,1.693364,1.108809,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208186,998,1225,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208187,998,1224,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208188,998,1223,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208189,998,1222,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208190,870,1674,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [3]:
# filtered_df = df.loc[df["Total"] > 100]
filtered_df = df
filtered_df

,X,Y,Total,Not Hispanic or Latino,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,...,gridcode,pop,ilcr,ilcr_2014,ilcr_2015,ilcr_2016,ilcr_2017,ilcr_2018,cluster_id,centerpoint
0,1035,1482,411.912900,405.766233,21.020359,376.270580,2.460665,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1035,1481,1143.021901,1114.305927,53.729173,1046.875416,0.536457,0.000000,0.0,1.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,1036,1482,723.120458,705.572521,20.577286,679.527128,1.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,1036,1483,495.929274,495.279686,3.317756,486.365985,1.152975,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,937,1084,580.401346,567.534888,308.349776,249.358991,1.693364,1.108809,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208186,998,1225,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208187,998,1224,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208188,998,1223,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208189,998,1222,7.106532,7.106532,7.056486,0.050046,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
208190,870,1674,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

## Percentages of whole of Alabama

#### Percent of AL residents who live in high cancer risk zones

In [4]:
sum(df.loc[df["ilcr"] != 0]["Total"]) / sum(df["Total"])

0.030964320856879186

#### Percent of Alabama residents who are white divided by the percentage of residents in high cancer risk areas that are white

In [5]:
white_perc_in_al = sum(df["White alone"]) / sum(df["Total"])
white_perc_in_sacrifice = sum(df.loc[df["ilcr"] != 0]["White alone"]) / sum(df.loc[df["ilcr"] != 0]["Total"])

white_perc_in_al / white_perc_in_sacrifice

1.2097387059662201

#### Percent of white residents that live in sacrifice zones

In [6]:
sum(df.loc[df["ilcr"] != 0]["White alone"]) / sum(df["White alone"])

0.025595875129206466

In [39]:
def print_race_in_state_and_zones(race):
    sac_zone_percent = round(sum(df.loc[df["ilcr"] != 0]["Total"]) / sum(df["Total"]) * 100, 3)
    sac_zone_percent_race = round(sum(df.loc[df["ilcr"] != 0][race]) / sum(df[race]) * 100, 3)

    print(f"Percent of Alabamans in sacrifice zones: {sac_zone_percent}%")
    print(f"Percent of {race.replace(' alone', '')} Alabamans in sacrifice zones: {sac_zone_percent_race}%")

In [40]:
race_cols = df.columns[(df.columns.str.endswith(" %")) & (~df.columns.str.contains(":"))].str.replace(" %", "").tolist()

for col in race_cols:
    print_race_in_state_and_zones(col)
    print()

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Not Hispanic or Latino Alabamans in sacrifice zones: 3.021%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of White Alabamans in sacrifice zones: 2.56%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Black or African American Alabamans in sacrifice zones: 4.276%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of American Indian and Alaska Native Alabamans in sacrifice zones: 2.095%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Asian Alabamans in sacrifice zones: 1.59%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Native Hawaiian and Other Pacific Islander Alabamans in sacrifice zones: 4.804%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Some Other Race Alabamans in sacrifice zones: 3.949%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Two or More Races Alabamans in sacrifice zones: 3.174%

Percent of Alabamans in sacrifice zones: 3.096%
Percent of Hispanic or Latino Alabamans in sacrifice zones: 4.963%